.card {
width: 300px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  background-color: #f9f9f9;
  text-align: center;
  font-family: Arial, sans-serif;
  margin: 0 auto;
  padding: 20px;

  &:hover {
      transform: scale(1.02);
      box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
      transition: all 0.3s ease-in-out;
    }
}

.wrapper{

}

.picture {
width: 80px;
  height: 80px;
  border-radius: 50%;
  background-color: #ddd;
  margin: 0 auto;
}

.username {
  font-size: 22px;
  font-weight: bold;
  color: #333;
  margin: 10px 0 5px 0;
}

.nickname {
  font-size: 16px;
  color: #777;
  margin: 0;
}

.location {
  font-size: 14px;
  color: #999;
  margin: 5px 0 15px 0;
}

.list {
  display: flex;
  justify-content: space-around;
  margin-top: 15px;
  background-color: #d2c9c9;
  border-radius: 8px;
  list-style-type: none;
}

.item{
  display: flex;
  flex-direction: column;
}

.itemTitle {
  font-size: 14px;
  color: #000000;
}

.number{
  font-style: bold;
}